.labels{
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
    display: flex;
    gap: 20px;
}
.task{
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #E8E8E8;
    justify-content: space-between;
    &:hover{
        background-color: #F8F8F8;
        transition: 0.5s;
        cursor: pointer;
    }
}

.tasks_page{
    display: flex;
    justify-content: end;
    width: 100%;
}
.tasks{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
    width: 100%;
}

.label{
    padding: 4px 8px;
    border-radius: 4px;
}